html {
    background-image: linear-gradient(#FC5E55, #FA4083);
}

body {
    background-image: url(images/image-lion-background.png);
    background-position: top center; 
    background-repeat: no-repeat;
     font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;    
    margin-left: auto;  /* auto hre does the same than justifuycontent and align center using flex */
    margin-right: auto;  /* auto hre does the same than justifuycontent and align center using flex */
}

header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid  white;
}

/* header content starts*/
.logo{
    padding-top: 10px;
    width: 60%;
}
/* header content ends*/

main {
    min-height: 300px; /* it will take this min size but it will grow as the content needs */
    display: flex;
    align-items: center;
}

.herobox1 {
    flex: 2; /* its the same than to set for example     width: 70%; */ 
    padding-right: 100px;
}

.herobox2
 {
    flex: 1; /* its the same than to set for example     width: 30%; */ 
}

.cards {
    display: flex; /* it actives FlexBox, like row as default */
    justify-content: space-between;
    text-align: center;
    box-shadow: 20px 20px 2px rgba(0,0,0,0.028) ; /* paramters. x axis, y axis, blur (optional), color*/ 
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover; /*Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
    background-position: bottom; /*Here, the background image will be positioned in the center of the element (in this case, the div element)*/
    min-height: 250px;
    width: 40%;
}

.card2 {
    background-image: url(images/image-background-card2.jpg); /* as Im working putting thing over a backgrund image.. i used it*/
    background-size: cover; 
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover; /*Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card1, .card2 , .card3 {
    padding: 30px, 30px , 20px, 30px ;
    box-sizing: border-box; /* allows us to include the padding and border in an element's total width and height. it means padding out of the box/element size not inside*/ 
}

.cards p {
    font-size:  0.85rem;
    line-height: 1.2rem; /* space between lines */
 
    /*margin: 20px, 30px , 20px, 30px ;*/ /* top, right, bottom, left */
}
.cards i {
    font-size: 100px;
    padding-top: 30px;
}

h1 {
    font-size: 3.25rem;
    font-family: 'PLayfair Display', serif;
    margin-bottom:  1rem;
    text-shadow: 20px 20px 2px rgba(0,0,0,0.028) ; /* The  same than box shadow but this is used for TEXT , paramters. x axis, y axis, blur (optional), color*/ 
}

h2 {
    font-size: 3.25rem;
    font-family: 'PLayfair Display', serif;
    padding-top:  10px ;
    padding-bottom:  10px ;
}

.p {
    line-height: 1.75rem; /* space between lines */
    padding-top:  1.5rem;
}

.mybutton {
    background-color: white;
    color: #FA4083;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    border-radius: 2px; /* change borders, this case all of them*/
    box-shadow: 20px 20px 2px rgba(0,0,0,0.028) ; /* paramters. x axis, y axis, blur (optional), color*/ 
}

.mybutton:hover{ /*: pseudo class*/
    background-color: aquamarine;
    transition-duration: 1s; /* effect to set the time on this hover will take to be activated*/

}

a.mybutton {
    display: inline-block; /* be able to keep it in one line BUT USING margin / padding bottom and top you need to use display: inline-block */
    margin-top: 20px;
}

nav a.mybutton {
    margin-left: 30px;
}

.navbutton {
    border: 1px solid white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}
.testimonials {
    display: flex; 
    flex-wrap: wrap; /*if the space/width (this case 47%), it sets for your elements is less tahan you set the others  content will be moved to another line */
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

/*.tbox:last-child { */ /* getting the last div inside this class parent element*/
   /* font-size: .8rem;*/
/*}*/

.tbox p:last-of-type { /* it takes the last elemet (p thi case) inside this class (.tbox) of  parent element */
    font-size: .8rem;
    padding-top: 10px;
    padding-left: 10px;
}


.dropdown {
    display: none;
    z-index: 1; /*change the position/order of  the elements: what is in front of the another*/
    padding-top: 20px;
    text-align: center;
}

.navbutton:hover .dropdown {
    position: absolute;/*opposite to relative if relative is inline (.navbutton) then absolute in block (one below others)*/
    display: block;

}

.dropdown .navbutton {
    width: 120px;
    background-color: white;
}

.dropdown .navbutton a {
    color: #FA4083;
}